@font-face {
  src: url("https://uploads-ssl.webflow.com/602e266b79d4be7eebca445f/602e2d58bf07a567416b9ecf_fluro-semibold.woff2")
      format("woff2"),
    url("https://uploads-ssl.webflow.com/602e266b79d4be7eebca445f/602e2d5839d4022edfefe7bd_fluro-semibold.woff")
      format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fluro";
  src: url("https://uploads-ssl.webflow.com/602e266b79d4be7eebca445f/602e2d4f130aef5b388147cd_fluro-regular.woff2")
      format("woff2"),
    url("https://uploads-ssl.webflow.com/602e266b79d4be7eebca445f/602e2d4f226dea06f5d26bea_fluro-regular.woff")
      format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fluro";
  src: url("https://uploads-ssl.webflow.com/602e266b79d4be7eebca445f/602e2d24946e25bf54443254_fluro-bold.woff")
    format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fluro";
  src: url("https://uploads-ssl.webflow.com/602e266b79d4be7eebca445f/602e2d440ee470828ea737b1_fluro-light.woff")
    format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fluro outline";
  src: url("https://uploads-ssl.webflow.com/602e266b79d4be7eebca445f/602e2d3988ed7003703eb51a_fluro-bold-outline.woff")
    format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  /* opacity: 0.8; */
  overflow: hidden;
}

.bg-video__content {
  height: 100%;
  width: 100%;
  /* max-width: unset !important; */
  object-fit: cover;
}

.font-fluro {
  font-family: Fluro
}
